.header-title{
  font-size: 2rem;
}

.login-title {
  font-size: 4rem;
  color: #26a69a;
  text-shadow: 2px 2px 5px lightgray;
  text-align: center;
}

.login-subtitle {
  font-size: 2.5rem;
  color: #26a69a;
  text-shadow: 2px 2px 5px lightgray;
  text-align: center;
}

#toast-container {
  top: 20% !important;
  right: 7% !important;
  bottom: auto !important;
  left: auto !important;
}

.toast-style-good {
  background-color: #26a69a !important;
  border-bottom: 4px solid #1cc5b4 !important;
}

.toast-style-bad {
  background-color: #26a69a !important;
  border-bottom: 4px solid #c91414 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px){
  .toast {
    width: 70% !important;
  }
}
