.quantity-text {
    font-size: 1.4rem;
    text-align: center;
    width: 25px;
}

.quantity-module {
    width: 135px;
    margin: 15px auto !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.showSelect:hover {
    background-color: #26a69975;   
    border-radius: 5px;
}

.showSelect:active {
    background-color: #26a699bd;   
    border-radius: 5px;
}