.part-display {
    display: block;
    background-color: rgba(242,242,242,0.5) !important;
    box-shadow: 3px 3px 5px #26a69980 !important;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px !important;
}

.part-display-text {
    padding: 4px;
    font-size: 1.4rem;
    float: left;
}

.part-remove-button {
    float: right;
}